<div id="about"></div>
<MudText Typo="Typo.h1" Class="mt-6">About!</MudText>
<MudText Class="mt-3">Sidekick for Path of Exile is developed by a group of passionate developers and gamers.</MudText>

<MudGrid Spacing="3" Class="mt-6">
    <MudItem xs="12" md="6">
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h3">Contributors</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent Class="mb-n3">
                @foreach (var contributor in Contributors)
                {
                    <MudText Class="mb-3 overflow-hidden" Style="text-overflow: ellipsis;">
                        <MudLink Href="@contributor.Value">@contributor.Key</MudLink>
                    </MudText>
                }

                <MudText>
                    Also thanks to:
                    @for (var i = 0; i < OtherContributors.Count; i++)
                    {
                        var contributor = OtherContributors.ElementAt(i);
                        if (i != 0)
                        {
                            @(", ")
                            ;
                        }

                        <MudLink Href="@contributor.Value">@contributor.Key</MudLink>
                    }
                </MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>

    <MudItem xs="12" md="6">
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h3">Third Parties</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent Class="mb-n3">
                @foreach (var thirdparty in ThirdParties)
                {
                    <MudText Class="mb-3 overflow-hidden" Style="text-overflow: ellipsis;">
                        <MudLink Href="@thirdparty.Value">@thirdparty.Key</MudLink>
                    </MudText>
                }
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>

@code {
    public Dictionary<string, string> Contributors { get; } = new Dictionary<string, string>()
    {
        { "domialex", "https://github.com/domialex" },
        { "leMicin", "https://github.com/leMicin" },
        { "mwardrop", "https://github.com/mwardrop" },
    };

    public Dictionary<string, string> OtherContributors { get; } = new Dictionary<string, string>()
    {
        { "Blinke", "https://github.com/Blinke" },
        { "Zalhera", "https://github.com/Zalhera" },
        { "cmos12345", "https://github.com/cmos12345" },
        { "kai-oswald", "https://github.com/kai-oswald" },
        { "Arisix", "https://github.com/Arisix" },
        { "dandrew-xx", "https://github.com/dandrew-xx" },
        { "pobiega", "https://github.com/pobiega" },
        { "lascoin", "https://github.com/lascoin" },
        { "vestakip", "https://github.com/vestakip" },
        { "PeteyPii", "https://github.com/PeteyPii" },
    };

    public Dictionary<string, string> ThirdParties { get; } = new Dictionary<string, string>()
    {
        { "Path of Exile Trade", "https://www.pathofexile.com/trade" },
        { "poe.ninja", "https://poe.ninja/" },
        { "poeprices.info", "https://www.poeprices.info/" },
        { "MudBlazor", "https://github.com/Garderoben/MudBlazor" },
        { "SharpHook", "https://sharphook.tolik.io/" },
        { "FuzzySharp", "https://github.com/JakeBayer/FuzzySharp" },
        { "TextCopy", "https://github.com/CopyText/TextCopy" },
    };
}
