@page "/"
@layout HomeLayout

<SidekickLogo />

<MudText Class="mt-3 mx-auto" Align="Align.Center" Style="max-width: 40rem;">
    A Path of Exile and Path of Exile 2 companion tool.<br />
    Price check items, check for dangerous map modifiers, and more!
</MudText>

<div class="d-flex justify-center align-center mt-1">
    <MudLink Href="@DiscordLink" Target="_blank" Class="mx-auto">
        <MudImage Src="https://img.shields.io/discord/664252463188279300?color=%23738AD6&label=Discord" />
    </MudLink>
</div>

<div class="d-flex justify-center align-center mt-6">
    <MudButton Size="Size.Large" Variant="Variant.Filled" Href="@SetupLink" Color="Color.Primary" Class="py-4 px-6 mx-3"
               EndIcon="@Icons.Material.Filled.Download" Target="_blank">
        Installer
    </MudButton>
    <MudButton Size="Size.Large" Variant="Variant.Outlined" Href="@PortableLink" Color="Color.Primary"
               Class="py-4 px-6 mx-3" EndIcon="@Icons.Material.Filled.FolderZip" Target="_blank">
        Portable
        (Zip)
    </MudButton>
</div>
<div class="d-flex justify-center align-center mt-2">
    <MudText Typo="Typo.caption">(both the installer and portable versions will auto-update)</MudText>
</div>

<MudCard Class="mt-6 d-none">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h2" Class="d-flex items-center">
                Stable Version
                <MudChip T="string" Variant="Variant.Outlined" Class="ml-2">Recommended</MudChip>
            </MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudList T="string">
        <MudListItem T="string">
            <MudText Typo="Typo.h4">Reliability</MudText>
            <div>Tested thoroughly to ensure fewer bugs and a smoother experience.</div>
        </MudListItem>
        <MudListItem T="string">
            <MudText Typo="Typo.h4">Updates</MudText>
            <div>Receives less frequent updates, prioritizing stability over new features.</div>
        </MudListItem>
        <MudListItem T="string">
            <MudText Typo="Typo.h4">Best for</MudText>
            <div>Users who prefer a hassle-free, stable experience with minimal disruptions.</div>
        </MudListItem>
    </MudList>
    <MudCardContent>
    </MudCardContent>
</MudCard>
<MudCard Class="mt-6">
    <MudCardContent>
        <MudText Typo="Typo.h4" Class="mb-2">Beta Version (pre-release)</MudText>
        <MudText Typo="Typo.subtitle2" Class="white-text">New Features</MudText>
        <div class="mb-2">Get new tools, functionality, and improvements as they are developed.</div>
        <MudText Typo="Typo.subtitle2" Class="white-text">Potential Issues</MudText>
        <div class="mb-2">
            Might contain bugs, as it is less tested and focuses on rapid updates. Use
            <MudLink Href="@DiscordLink" Target="_blank">Discord</MudLink> to report bugs and for
            support.
        </div>
        <MudText Typo="Typo.subtitle2" Class="white-text">Best for</MudText>
        <div class="mb-2">
            Enthusiasts who wish to help test and provide feedback on cutting-edge
            features.
        </div>
        <div class="d-flex justify-center align-center mt-3">
            <MudButton Size="Size.Medium" Variant="Variant.Outlined" Href="@ReleasesLink" Color="Color.Primary" EndIcon="@Icons.Material.Filled.Download" Target="_blank">All Releases</MudButton>
        </div>
    </MudCardContent>
</MudCard>

<div id="installation"></div>
<MudCard Class="mt-6">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h2">Installation and Usage</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudList T="string">
        <MudListItem T="string">
            <div class="d-flex align-center">
                <MudText Typo="Typo.h4">1.</MudText>
                <div class="ml-6">
                    Download Sidekick using either the <MudLink Href="@SetupLink" Target="_blank"><b>installer</b></MudLink> or <MudLink Href="@PortableLink" Target="_blank"><b>portable version</b></MudLink>.
                </div>
            </div>
        </MudListItem>
        <MudListItem T="string">
            <div class="d-flex align-center">
                <MudText Typo="Typo.h4">2.</MudText>
                <div class="ml-6">
                    The installer creates a start menu and desktop shortcut and will automatically launch
                    Sidekick, which will run in your system tray.
                </div>
            </div>
        </MudListItem>
        <MudListItem T="string">
            <div class="d-flex align-center">
                <MudText Typo="Typo.h4">3.</MudText>
                <MudChip Variant="Variant.Outlined" Color="Color.Info" Class="ml-6">Optional</MudChip>
                <div class="ml-3">
                    You may get a security warning when running this software. All the code and
                    repositories are public.
                </div>
            </div>
        </MudListItem>
        <MudListItem T="string">
            <div class="d-flex align-center">
                <MudText Typo="Typo.h4">4.</MudText>
                <div class="ml-6">
                    Check your game settings! Make sure your Path of Exile display mode is set to
                    <b>Windowed</b> or
                    <b>Windowed Fullscreen</b> and click save. Sidekick will not work while Path of Exile is in
                    Fullscreen mode.
                </div>
            </div>
        </MudListItem>
        <MudListItem T="string">
            <div class="d-flex align-center">
                <MudText Typo="Typo.h4">5.</MudText>
                <div class="ml-6">
                    Enjoy! Report issues or suggestions by communicating in our <MudLink Href="@DiscordLink" Target="_blank">Discord</MudLink> or by creating an
                    <MudLink Href="https://github.com/Sidekick-Poe/Sidekick" Target="_blank">issue on GitHub</MudLink>.
                </div>
            </div>
        </MudListItem>
    </MudList>
    <MudCardContent>
        <MudText Typo="Typo.h5">Uninstallation</MudText>
        <MudText Typo="Typo.body1">
            You can uninstall Sidekick just like any other application using <b>Windows Settings => Apps & features</b>. Optionally, you may want to also delete the folder <b>%AppData%\sidekick</b>, which is where Sidekick keeps your settings.
        </MudText>
    </MudCardContent>
</MudCard>

<div id="troubleshooting"></div>
<MudCard Class="mt-6">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h2">Troubleshooting Steps</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <MudText Typo="Typo.h5">Ensure Sidekick is running</MudText>
        <MudText Typo="Typo.body1" Class="mt-2">
            By looking at your task manager, you should see <b>Sidekick.exe</b> running. If
            you don't, you can start it from the start menu by searching for <b>Sidekick</b>.
        </MudText>
    </MudCardContent>
    <MudCardContent>
        <MudText Typo="Typo.h5">Sidekick is running but nothing happens</MudText>
        <MudText Typo="Typo.body1" Class="mt-2">
            Sidekick doesn't have a ton of external dependencies, but if you run
            into any problems, make sure you have the <MudLink Href="@WebView2Link" Target="_blank">Microsoft WebView 2</MudLink> installed.
        </MudText>
    </MudCardContent>
    <MudCardContent>
        <MudText Typo="Typo.h5">Installer or setup fails</MudText>
        <MudText Typo="Typo.body1" Class="mt-2">
            If you experience an issue with the installer or the auto-updater, consider trying the <MudLink Href="@PortableLink" Target="_blank">portable version</MudLink> instead.
        </MudText>
    </MudCardContent>
    <MudCardContent>
        <MudText Typo="Typo.h5">Anti-virus is stopping the program from running</MudText>
        <MudText Typo="Typo.body1" Class="mt-2">
            Make sure your anti-virus is not blocking Sidekick. If you want to review the code, all the sources and repositories are public.
        </MudText>
    </MudCardContent>
    <MudCardContent>
        <MudText Typo="Typo.h5">Investigate the log file</MudText>
        <MudText Typo="Typo.body1" Class="mt-2">
            Sidekick has .log files in <b>%appdata%/sidekick</b>. You can investigate
            yourself or ask for support on the <MudLink Href="@DiscordLink" Target="_blank">Discord</MudLink> in the #support channel.
        </MudText>
    </MudCardContent>
    <MudCardContent>
        <MudText Typo="Typo.h5">All the above fails</MudText>
        <MudText Typo="Typo.body1" Class="mt-2">
            If all of the above fails, reach out on <MudLink Href="@DiscordLink" Target="_blank">Discord</MudLink> in the #support
            channel, we are happy to help.
        </MudText>
    </MudCardContent>
</MudCard>

<div id="features"></div>
<MudText Typo="Typo.h1" Class="mt-6">Features!</MudText>

<div id="price-checking"></div>
<MudCard Class="mt-6">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h2">
                Price Checking
                <MudChip T="string" Variant="Variant.Outlined">Default Binding: Ctrl+D</MudChip>
            </MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <MudText Typo="Typo.body1">
            Opens a trade view from the official Path of Exile trade API. You can compare and
            preview items by clicking on any result. For rare items, a price prediction from poeprices.info is shown.
            For unique items, prices from poe.ninja are used.
        </MudText>
    </MudCardContent>
    <div class="px-4 pb-4 pt-2">
        <MudGrid Spacing="2">
            <MudItem xs="6">
                <PicturePreview Image="/assets/images/trade_item.png" Title="Item Trade" Height="220" />
            </MudItem>
            <MudItem xs="6">
                <PicturePreview Image="/assets/images/trade_bulk.png" Title="Bulk Trade" Height="220" />
            </MudItem>
        </MudGrid>
    </div>
</MudCard>

@*
<div id="wealth-tracker"></div>
<MudCard Class="mt-6">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h2">Wealth Tracker <MudChip Variant="Variant.Outlined" Color="Color.Warning">Beta</MudChip> <MudChip Variant="Variant.Outlined">Default Binding: F7</MudChip></MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <MudText Typo="Typo.body1">Authenticate with Path of Exile to track wealth across your stash tabs. This feature is currently in beta and is available in the beta version. Download above.</MudText>
    </MudCardContent>
    <div class="px-4 pb-4 pt-2">
        <MudGrid Spacing="2">
            <MudItem xs="12">
                <PicturePreview Image="/assets/images/wealth_tracker.png" Title="Wealth Tracker" Height="220" />
            </MudItem>
        </MudGrid>
    </div>
</MudCard>
*@

<div id="map-information"></div>
<MudCard Class="mt-6">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h2">
                Map Information
                <MudChip T="string" Variant="Variant.Outlined">Default Binding: Ctrl+X</MudChip>
            </MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <MudText Typo="Typo.body1">
            Checks the modifiers on a map or contract for mods that are dangerous (configurable through a regex). Shows
            wiki information on bosses and possible drops.
        </MudText>
    </MudCardContent>
    <div class="px-4 pb-4 pt-2">
        <MudGrid Spacing="2">
            <MudItem xs="6">
                <PicturePreview Image="/assets/images/map_safe.png" Title="Safe" Height="220" />
            </MudItem>
            <MudItem xs="6">
                <PicturePreview Image="/assets/images/map_unsafe.png" Title="Unsafe" Height="220" />
            </MudItem>
        </MudGrid>
    </div>
</MudCard>

<div id="chat-commands"></div>
<MudCard Class="mt-6">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h2">Chat Commands</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudList T="string">
        <MudListItem T="string">
            <MudText Typo="Typo.h4">
                Go to Hideout
                <MudChip Variant="Variant.Outlined">Default Binding: F5</MudChip>
            </MudText>
            Quickly go to your hideout. Writes the following chat command: /hideout
        </MudListItem>
        <MudListItem T="string">
            <MudText Typo="Typo.h4">
                Leave Party
                <MudChip Variant="Variant.Outlined">Default Binding: F4</MudChip>
            </MudText>
            Quickly leave a party. Writes the following chat command: /leave
        </MudListItem>
        <MudListItem T="string">
            <MudText Typo="Typo.h4">
                Reply to Last Whisper
                <MudChip Variant="Variant.Outlined">Default Binding: Ctrl+Enter</MudChip>
            </MudText>
            Reply to the last whisper received. Starts writing the following chat command: @@{characterName}
        </MudListItem>
        <MudListItem T="string">
            <MudText Typo="Typo.h4">
                Exit to Character Selection
                <MudChip Variant="Variant.Outlined">Default Binding: F9</MudChip>
            </MudText>
            Exit to the character selection screen. Writes the following chat command: /exit
        </MudListItem>
        <MudListItem T="string">
            <MudText Typo="Typo.h4">Custom chat commands</MudText>
            Sidekick provides some useful chat command shortcuts, but you can also create your own custom chat commands.
        </MudListItem>
    </MudList>
</MudCard>

<div id="other-features"></div>
<MudCard Class="mt-6">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h2">Other Features</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudList T="string">
        <MudListItem T="string">
            <MudText Typo="Typo.h4">
                Open Wiki
                <MudChip Variant="Variant.Outlined">Default Binding: Alt+W</MudChip>
            </MudText>
            Open the item currently under your mouse in your preferred wiki.
        </MudListItem>
        <MudListItem T="string">
            <MudText Typo="Typo.h4">
                Find Items
                <MudChip Variant="Variant.Outlined">Default Binding: Ctrl+F</MudChip>
            </MudText>
            Searches in your stash or passive tree with the name of the item currently under your mouse.
        </MudListItem>
    </MudList>
</MudCard>

<div id="useful"></div>
<MudCard Class="mt-6">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h2">Useful Websites</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudList T="string">
        <MudListItem T="string">
            <MudText Typo="Typo.h4">Leveling</MudText>
            <MudLink Href="https://poe-leveling.com/" Target="_blank">poe-leveling.com</MudLink>
        </MudListItem>
        <MudListItem T="string">
            <MudText Typo="Typo.h4">Poe Labyrinth</MudText>
            <MudLink Href="https://www.poelab.com/" Target="_blank">www.poelab.com</MudLink>
        </MudListItem>
        <MudListItem T="string">
            <MudText Typo="Typo.h4">Regex Tool</MudText>
            <MudLink Href="https://poe.re/" Target="_blank">poe.re</MudLink>
        </MudListItem>
        <MudListItem T="string">
            <MudText Typo="Typo.h4">Chromatic Calculator</MudText>
            <MudLink Href="https://siveran.github.io/calc.html" Target="_blank">siveran.github.io</MudLink>
        </MudListItem>
        <MudListItem T="string">
            <MudText Typo="Typo.h4">Blight Anointments</MudText>
            <MudLink Href="https://blight.raelys.com/" Target="_blank">blight.raelys.com</MudLink>
        </MudListItem>
    </MudList>
</MudCard>

<div id="faq"></div>
<MudText Typo="Typo.h1" Class="mt-6">FAQ</MudText>
<MudText Typo="Typo.h3" Class="mt-3">Is this tool allowed by GGG?</MudText>
<MudText Typo="Typo.body1">
    The tool is completely allowed to be used inside the games. For the official GGG stance, look
    below.
</MudText>
<div class="d-flex justify-center align-center mt-3">
    <MudButton Href="https://www.pathofexile.com/developer/docs#policy" Variant="Variant.Outlined"
               Color="Color.Primary">
        Grinding Gear Games Policy
    </MudButton>
</div>

<MudText Typo="Typo.h3" Class="mt-3">How does Sidekick price check items?</MudText>
<MudText Typo="Typo.body1">
    Sidekick actively checks to see if the game is running to determine whether it should listen
    for keybinds. Once you're in Path of Exile (PoE) and press a designated keybind, Sidekick simulates a Ctrl+C command
    on your behalf to copy the item's details. It then analyzes the copied information to understand the item you were
    hovering over. Finally, it fetches pricing data from the Path of Exile Trade website and presents you with the
    relevant results.
</MudText>

<div id="about"></div>
<MudText Typo="Typo.h1" Class="mt-6">About</MudText>
<MudText Class="mt-3">Sidekick for Path of Exile is developed by a group of passionate developers and gamers.</MudText>

<MudGrid Spacing="3" Class="mt-6">
    <MudItem xs="12" md="6">
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h3">Contributors</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardHeader Class="mt-n4">
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">Major Contributors</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent Class="mb-n3 mt-n6">
                @for (var i = 0; i < MajorContributors.Count; i++)
                {
                    var contributor = MajorContributors.ElementAt(i);
                    if (i != 0)
                    {
                        @(", ")
                    }

                    @if (!string.IsNullOrEmpty(contributor.Value))
                    {
                        <MudLink Href="@contributor.Value">@contributor.Key</MudLink>
                    }
                    else
                    {
                        <MudText HtmlTag="span">@contributor.Key</MudText>
                    }
                }
            </MudCardContent>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">Recent Contributors</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent Class="mb-n3 mt-n6">
                @for (var i = 0; i < RecentContributors.Count; i++)
                {
                    var contributor = RecentContributors.ElementAt(i);
                    if (i != 0)
                    {
                        @(", ")
                    }

                    @if (!string.IsNullOrEmpty(contributor.Value))
                    {
                        <MudLink Href="@contributor.Value">@contributor.Key</MudLink>
                    }
                    else
                    {
                        <MudText HtmlTag="span">@contributor.Key</MudText>
                    }
                }
            </MudCardContent>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">Translators</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent Class="mb-n3 mt-n6">
                @for (var i = 0; i < Translators.Count; i++)
                {
                    var contributor = Translators.ElementAt(i);
                    if (i != 0)
                    {
                        @(", ")
                    }

                    @if (!string.IsNullOrEmpty(contributor.Value))
                    {
                        <MudLink Href="@contributor.Value">@contributor.Key</MudLink>
                    }
                    else
                    {
                        <MudText HtmlTag="span">@contributor.Key</MudText>
                    }
                }
            </MudCardContent>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">Also thanks to</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent Class="mb-n3 mt-n6">
                @for (var i = 0; i < OtherContributors.Count; i++)
                {
                    var contributor = OtherContributors.ElementAt(i);
                    if (i != 0)
                    {
                        @(", ")
                    }

                    @if (!string.IsNullOrEmpty(contributor.Value))
                    {
                        <MudLink Href="@contributor.Value">@contributor.Key</MudLink>
                    }
                    else
                    {
                        <MudText HtmlTag="span">@contributor.Key</MudText>
                    }
                }
            </MudCardContent>
        </MudCard>
    </MudItem>

    <MudItem xs="12" md="6">
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h3">Third Parties</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent Class="mb-n3">
                @foreach (var thirdparty in ThirdParties)
                {
                    <MudText Class="mb-3 overflow-hidden" Style="text-overflow: ellipsis;">
                        <MudLink Href="@thirdparty.Value">@thirdparty.Key</MudLink>
                    </MudText>
                }
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>

@code {

    private string SetupLink = "https://github.com/Sidekick-Poe/Sidekick/releases/latest/download/Sidekick-windows-stable-Setup.exe";
    private string PortableLink = "https://github.com/Sidekick-Poe/Sidekick/releases/latest/download/Sidekick-windows-stable-Portable.zip";
    private string ReleasesLink = "https://github.com/Sidekick-Poe/Sidekick/releases";
    private string WebView2Link = "https://developer.microsoft.com/en-us/microsoft-edge/webview2";
    private string DiscordLink = "https://discord.gg/H4bg4GQ";

    private Dictionary<string, string> MajorContributors { get; } = new Dictionary<string, string>()
    {
        { "domialex", "https://github.com/domialex" },
        { "leMicin", "https://github.com/leMicin" },
        { "mwardrop", "https://github.com/mwardrop" },
    };

    private Dictionary<string, string> RecentContributors { get; } = new Dictionary<string, string>()
    {
        { "Ati1707", "https://github.com/Ati1707" },
        { "warxhead1", "https://github.com/warxhead1" },
        { "Trifall", "https://github.com/Trifall" },
    };

    private Dictionary<string, string> Translators { get; } = new Dictionary<string, string>()
    {
        { "EasyBabi", "https://www.youtube.com/@EasyBabi" },
        { "aprils148", "https://github.com/aprils148" },
    };

    private Dictionary<string, string> OtherContributors { get; } = new Dictionary<string, string>()
    {
        { "Blinke", "https://github.com/Blinke" },
        { "Zalhera", "https://github.com/Zalhera" },
        { "cmos12345", "https://github.com/cmos12345" },
        { "kai-oswald", "https://github.com/kai-oswald" },
        { "Arisix", "https://github.com/Arisix" },
        { "dandrew-xx", "https://github.com/dandrew-xx" },
        { "pobiega", "https://github.com/pobiega" },
        { "lascoin", "https://github.com/lascoin" },
        { "vestakip", "https://github.com/vestakip" },
        { "PeteyPii", "https://github.com/PeteyPii" },
    };

    private Dictionary<string, string> ThirdParties { get; } = new Dictionary<string, string>()
    {
        { "Path of Exile Trade", "https://www.pathofexile.com/trade" },
        { "poe.ninja", "https://poe.ninja/" },
        { "poeprices.info", "https://www.poeprices.info/" },
        { "poewiki.net", "https://www.poewiki.net/" },
        { "poedb.tw", "https://poedb.tw/us/" },
        { "Awakened PoE Trade", "https://github.com/SnosMe/awakened-poe-trade" },
        { "POE-TradeMacro", "https://github.com/PoE-TradeMacro/POE-TradeMacro" },
        { "FuzzySharp", "https://github.com/JakeBayer/FuzzySharp" },
        { "Hardcodet NotifyIcon for WPF", "https://github.com/hardcodet/wpf-notifyicon" },
        { "SharpHook", "https://github.com/TolikPylypchuk/SharpHook" },
        { "TextCopy", "https://github.com/CopyText/TextCopy" },
    };
}
