@page "/"
@layout HomeLayout

<div id="download"></div>
<SidekickLogo/>
<MudText Class="mt-3 mx-auto" Align="Align.Center" Style="max-width: 40rem;">A Path of Exile companion tool. Price check
    items, check for dangerous map modifiers, and more!
</MudText>
<div class="d-flex justify-center align-center mt-6">
    <MudButton Size="Size.Large" Variant="Variant.Filled"
               Href="https://sidekick-poe.github.io/Sidekick-Release/Sidekick.application" Color="Color.Primary"
               Class="py-4 px-6" EndIcon="@Icons.Material.Filled.Download" Target="_blank">Download
    </MudButton>
</div>

<div class="d-flex justify-center align-center mt-4">
    <MudText Class="d-block" Style="max-width: 30rem;" Typo="Typo.caption" Align="Align.Center">Get early access to new
        features with the beta version. Note that the beta version is unstable. Use Discord to report bugs and for
        support.
    </MudText>
</div>

<div class="d-flex justify-center align-center mt-2">
    <MudButton Size="Size.Large" Variant="Variant.Outlined"
               Href="https://sidekick-poe.github.io/Sidekick-Beta/Sidekick.application" Color="Color.Primary"
               EndIcon="@Icons.Material.Filled.Download" Target="_blank">Download Beta
    </MudButton>
</div>

<div id="installation"></div>
<MudCard Class="mt-6">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h2">Installation and Usage</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudList>
        <MudListItem>
            <div class="d-flex align-center">
                <MudText Typo="Typo.h4">1.</MudText>
                <div class="ml-6">Download Sidekick from
                    <MudLink Href="#download">here</MudLink>
                    .
                </div>
            </div>
        </MudListItem>
        <MudListItem>
            <div class="d-flex align-center">
                <MudText Typo="Typo.h4">2.</MudText>
                <div class="ml-6">Run Sidekick.application</div>
            </div>
        </MudListItem>
        <MudListItem>
            <div class="d-flex align-center">
                <MudText Typo="Typo.h4">3.</MudText>
                <MudChip Variant="Variant.Outlined" Color="Color.Warning" Class="ml-6">Optional</MudChip>
                <div class="ml-6">You may get a security warning when running this software. You may have to add a
                    security exception to run this software. Our code is open source and there is no malware included
                    with this program.
                </div>
            </div>
        </MudListItem>
        <MudListItem>
            <div class="d-flex align-center">
                <MudText Typo="Typo.h4">4.</MudText>
                <div class="ml-6">Check your game settings! Make sure your display mode is set to 'Windowed' or
                    'Windowed Fullscreen'. Sidekick will not work while Path of Exile is in Fullscreen mode.
                </div>
            </div>
        </MudListItem>
        <MudListItem>
            <div class="d-flex align-center">
                <MudText Typo="Typo.h4">5.</MudText>
                <div class="ml-6">Enjoy! Report issues or suggestions by communicating in our Discord or by creating an
                    issue on GitHub.
                </div>
            </div>
        </MudListItem>
    </MudList>
    <MudCardContent>
        <MudText Typo="Typo.h5">Uninstallation</MudText>
        <MudText Typo="Typo.body1">
            You may uninstall Sidekick by using Windows Settings => Apps & features. Optionally, you may want to delete
            additional files. Sidekick stores additional cache and setting files at %AppData%\Roaming\sidekick.
        </MudText>
    </MudCardContent>
</MudCard>

<div id="features"></div>
<MudText Typo="Typo.h1" Class="mt-6">Features!</MudText>

<div id="price-checking"></div>
<MudCard Class="mt-6">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h2">Price Checking
                <MudChip Variant="Variant.Outlined">Default Binding: Ctrl+D</MudChip>
            </MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <MudText Typo="Typo.body1">Opens a trade view from the official Path of Exile trade API. You can compare and
            preview items by clicking on any result. For rare items, a price prediction from poeprices.info is shown.
            For unique items, prices from poe.ninja are used.
        </MudText>
    </MudCardContent>
    <div class="px-4 pb-4 pt-2">
        <MudGrid Spacing="2">
            <MudItem xs="6">
                <PicturePreview Image="/assets/images/trade_item.png" Title="Item Trade" Height="220"/>
            </MudItem>
            <MudItem xs="6">
                <PicturePreview Image="/assets/images/trade_bulk.png" Title="Bulk Trade" Height="220"/>
            </MudItem>
        </MudGrid>
    </div>
</MudCard>

@*
<div id="wealth-tracker"></div>
<MudCard Class="mt-6">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h2">Wealth Tracker <MudChip Variant="Variant.Outlined" Color="Color.Warning">Beta</MudChip> <MudChip Variant="Variant.Outlined">Default Binding: F7</MudChip></MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <MudText Typo="Typo.body1">Authenticate with Path of Exile to track wealth across your stash tabs. This feature is currently in beta and is available in the beta version. Download above.</MudText>
    </MudCardContent>
    <div class="px-4 pb-4 pt-2">
        <MudGrid Spacing="2">
            <MudItem xs="12">
                <PicturePreview Image="/assets/images/wealth_tracker.png" Title="Wealth Tracker" Height="220" />
            </MudItem>
        </MudGrid>
    </div>
</MudCard>
*@

<div id="map-information"></div>
<MudCard Class="mt-6">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h2">Map Information
                <MudChip Variant="Variant.Outlined">Default Binding: Ctrl+X</MudChip>
            </MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <MudText Typo="Typo.body1">
            Checks the modifiers on a map or contract for mods that are dangerous (configurable through a regex). Shows
            wiki information on bosses and possible drops.
        </MudText>
    </MudCardContent>
    <div class="px-4 pb-4 pt-2">
        <MudGrid Spacing="2">
            <MudItem xs="6">
                <PicturePreview Image="/assets/images/map_safe.png" Title="Safe" Height="220"/>
            </MudItem>
            <MudItem xs="6">
                <PicturePreview Image="/assets/images/map_unsafe.png" Title="Unsafe" Height="220"/>
            </MudItem>
        </MudGrid>
    </div>
</MudCard>

<div id="chat-commands"></div>
<MudCard Class="mt-6">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h2">Chat Commands</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudList>
        <MudListItem>
            <MudText Typo="Typo.h4">Go to Hideout
                <MudChip Variant="Variant.Outlined">Default Binding: F5</MudChip>
            </MudText>
            Quickly go to your hideout. Writes the following chat command: /hideout
        </MudListItem>
        <MudListItem>
            <MudText Typo="Typo.h4">Leave Party
                <MudChip Variant="Variant.Outlined">Default Binding: F4</MudChip>
            </MudText>
            Quickly leave a party. Writes the following chat command: /leave
        </MudListItem>
        <MudListItem>
            <MudText Typo="Typo.h4">Reply to Last Whisper
                <MudChip Variant="Variant.Outlined">Default Binding: Ctrl+Shift+R</MudChip>
            </MudText>
            Reply to the last whisper received. Starts writing the following chat command: @@{characterName}
        </MudListItem>
        <MudListItem>
            <MudText Typo="Typo.h4">Exit to Character Selection
                <MudChip Variant="Variant.Outlined">Default Binding: F9</MudChip>
            </MudText>
            Exit to the character selection screen. Writes the following chat command: /exit
        </MudListItem>
    </MudList>
</MudCard>

<div id="other-features"></div>
<MudCard Class="mt-6">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h2">Other Features</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudList>
        <MudListItem>
            <MudText Typo="Typo.h4">Open Wiki
                <MudChip Variant="Variant.Outlined">Default Binding: Alt+W</MudChip>
            </MudText>
            Open the item currently under your mouse in your preferred wiki.
        </MudListItem>
        <MudListItem>
            <MudText Typo="Typo.h4">Find Items
                <MudChip Variant="Variant.Outlined">Default Binding: Ctrl+F</MudChip>
            </MudText>
            Searches in your stash or passive tree with the name of the item currently under your mouse.
        </MudListItem>
    </MudList>
</MudCard>

<div id="useful"></div>
<MudCard Class="mt-6">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h2">Useful Websites</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudList>
        <MudListItem>
            <MudText Typo="Typo.h4">Leveling</MudText>
            <MudLink Href="https://poe-leveling.com/" Target="_blank">poe-leveling.com</MudLink>
        </MudListItem>
        <MudListItem>
            <MudText Typo="Typo.h4">Poe Labyrinth</MudText>
            <MudLink Href="https://www.poelab.com/" Target="_blank">www.poelab.com</MudLink>
        </MudListItem>
        <MudListItem>
            <MudText Typo="Typo.h4">Regex Tool</MudText>
            <MudLink Href="https://poe.re/" Target="_blank">poe.re</MudLink>
        </MudListItem>
        <MudListItem>
            <MudText Typo="Typo.h4">Chromatic Calculator</MudText>
            <MudLink Href="https://siveran.github.io/calc.html" Target="_blank">siveran.github.io</MudLink>
        </MudListItem>
        <MudListItem>
            <MudText Typo="Typo.h4">Blight Anointments</MudText>
            <MudLink Href="https://blight.raelys.com/" Target="_blank">blight.raelys.com</MudLink>
        </MudListItem>
    </MudList>
</MudCard>

<div id="about"></div>
<MudText Typo="Typo.h1" Class="mt-6">About!</MudText>
<MudText Class="mt-3">Sidekick for Path of Exile is developed by a group of passionate developers and gamers.</MudText>

<MudGrid Spacing="3" Class="mt-6">
    <MudItem xs="12" md="6">
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h3">Contributors</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent Class="mb-n3">
                @foreach (var contributor in Contributors)
                {
                    <MudText Class="mb-3 overflow-hidden" Style="text-overflow: ellipsis;">
                        <MudLink Href="@contributor.Value">@contributor.Key</MudLink>
                    </MudText>
                }

                <MudText>
                    Also thanks to:
                    @for (var i = 0; i < OtherContributors.Count; i++)
                    {
                        var contributor = OtherContributors.ElementAt(i);
                        if (i != 0)
                        {
                            @(", ")
                            ;
                        }

                        <MudLink Href="@contributor.Value">@contributor.Key</MudLink>
                    }
                </MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>

    <MudItem xs="12" md="6">
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h3">Third Parties</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent Class="mb-n3">
                @foreach (var thirdparty in ThirdParties)
                {
                    <MudText Class="mb-3 overflow-hidden" Style="text-overflow: ellipsis;">
                        <MudLink Href="@thirdparty.Value">@thirdparty.Key</MudLink>
                    </MudText>
                }
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>

@code {

    private Dictionary<string, string> Contributors { get; } = new Dictionary<string, string>()
    {
        { "domialex", "https://github.com/domialex" },
        { "leMicin", "https://github.com/leMicin" },
        { "mwardrop", "https://github.com/mwardrop" },
    };

    private Dictionary<string, string> OtherContributors { get; } = new Dictionary<string, string>()
    {
        { "Blinke", "https://github.com/Blinke" },
        { "Zalhera", "https://github.com/Zalhera" },
        { "cmos12345", "https://github.com/cmos12345" },
        { "kai-oswald", "https://github.com/kai-oswald" },
        { "Arisix", "https://github.com/Arisix" },
        { "dandrew-xx", "https://github.com/dandrew-xx" },
        { "pobiega", "https://github.com/pobiega" },
        { "lascoin", "https://github.com/lascoin" },
        { "vestakip", "https://github.com/vestakip" },
        { "PeteyPii", "https://github.com/PeteyPii" },
    };

    private Dictionary<string, string> ThirdParties { get; } = new Dictionary<string, string>()
    {
        { "Path of Exile Trade", "https://www.pathofexile.com/trade" },
        { "poe.ninja", "https://poe.ninja/" },
        { "poeprices.info", "https://www.poeprices.info/" },
        { "MudBlazor", "https://github.com/Garderoben/MudBlazor" },
        { "SharpHook", "https://sharphook.tolik.io/" },
        { "FuzzySharp", "https://github.com/JakeBayer/FuzzySharp" },
        { "TextCopy", "https://github.com/CopyText/TextCopy" },
    };

}
