<div id="installation" class="flex flex-col gap-6">
    <div class="flex flex-col items-center gap-3">
        <AppLogo/>
        <TextBase Class="text-center">A Path of Exile and Path of Exile 2 companion tool. Price check items, check for
            dangerous map modifiers, and more!
        </TextBase>
    </div>

    <div class="flex items-center justify-center gap-3">
        <ButtonPrimary Href="@WindowsSetupLink" Target="_blank">
            Installer
        </ButtonPrimary>
        <ButtonSecondary Href="@WindowsPortableLink" Target="_blank">
            Portable
            (Zip)
        </ButtonSecondary>
        <ButtonSecondary Href="@LinuxPortableLink" Target="_blank">
            Linux
            (AppImage)
        </ButtonSecondary>
    </div>
    <Card Title="Installation and Usage">
        <div class="flex flex-col gap-4">
            <div class="flex items-start gap-4">
                <Heading3>1.</Heading3>
                <div class="pt-1">
                    Download Sidekick using either the <a href="@WindowsSetupLink" target="_blank"
                                                          class="text-violet-700 dark:text-violet-400 font-bold hover:underline">installer</a>
                    or <a href="@WindowsPortableLink" target="_blank"
                          class="text-violet-700 dark:text-violet-400 font-bold hover:underline">portable version</a>.
                </div>
            </div>
            <div class="flex items-start gap-4">
                <Heading3>2.</Heading3>
                <div class="pt-1">
                    The installer creates a start menu and desktop shortcut and will automatically launch Sidekick,
                    which will run in your system tray.
                </div>
            </div>
            <div class="flex items-start gap-4">
                <Heading3>3.</Heading3>
                <div class="flex items-center gap-2 pt-1">
                    <span
                        class="bg-blue-100 text-blue-800 text-xs font-medium px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 border border-blue-400">Optional</span>
                    <span>You may get a security warning when running this software. All the code and repositories are public.</span>
                </div>
            </div>
            <div class="flex items-start gap-4">
                <Heading3>4.</Heading3>
                <div class="pt-1">
                    Check your game settings! Make sure your Path of Exile display mode is set to <b>Windowed</b> or <b>Windowed
                        Fullscreen</b> and click save. Sidekick will not work while Path of Exile is in Fullscreen mode.
                </div>
            </div>
            <div class="flex items-start gap-4">
                <Heading3>5.</Heading3>
                <div class="pt-1">
                    Enjoy! Report issues or suggestions by communicating in our <a href="@DiscordLink" target="_blank"
                                                                                   class="text-violet-700 dark:text-violet-400 hover:underline">Discord</a>
                    or by creating an <a href="https://github.com/Sidekick-Poe/Sidekick" target="_blank"
                                         class="text-violet-700 dark:text-violet-400 hover:underline">issue on
                        GitHub</a>.
                </div>
            </div>

            <div class="mt-4 pt-4 border-t border-stone-200 dark:border-stone-700">
                <Heading3 Class="mb-2">Uninstallation</Heading3>
                <TextBase>
                    You can uninstall Sidekick just like any other application using <b>Windows Settings => Apps &
                        features</b>. Optionally, you may want to also delete the folder <b>%AppData%\sidekick</b>,
                    which is where Sidekick keeps your settings.
                </TextBase>
            </div>
        </div>
    </Card>
</div>

@code {
    private string WindowsSetupLink = "https://github.com/Sidekick-Poe/Sidekick/releases/latest/download/Sidekick-windows-stable-Setup.exe";
    private string WindowsPortableLink = "https://github.com/Sidekick-Poe/Sidekick/releases/latest/download/Sidekick-windows-stable-Portable.zip";
    private string LinuxPortableLink = "https://github.com/Sidekick-Poe/Sidekick/releases/latest/download/Sidekick-linux-stable.AppImage";
    private string DiscordLink = "https://discord.gg/R9HyCpV";
}
